.container {
    --theme-accent-color: #1992D4;
    --background-color: #E2E8F0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sideBar {
    background-color: var(--theme-accent-color);
    color: white;
    padding: 15px;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 65px;
}

.sideBarName {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sideBarName img {
    width: 50px;
}

.menu {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.menu img {
    width: 50px;
    box-sizing: border-box;
    padding: 0px 15px;
}

.menuFirst,.menuSecond {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.line {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main {
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.topBar {
    background-color: white;
    box-shadow: 0px 3px 5px gray;
    padding: 20px 40px;
    display: grid;
    gap: 25px;
}

img[alt=Search] {
    width: 25px;
}

input[type=text] {
    border: none;
    background-color: var(--background-color);
    width: 500px;
    height: 30px;
    border-radius: 15px;
    text-align: right;
}

.search { /* Using flex for these 4 elements (search, notifications, person, and button) makes them align better */
    grid-column: 1 / 2;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.notifications { /* Using flex for these 4 elements (search, notifications, person, and button) makes them align better */
    grid-column: 2 / 3;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
}

img[alt=notifications] {
    width: 25px;
}

.notifications img[alt=Morgan] {
    width: 40px;
    border-radius: 20px;
}

.person { /* Using flex for these 4 elements (search, notifications, person, and button) makes them align better */
    display: flex;
    justify-content: left;
    align-items: center; /* This make the profile pic rounded */
    gap: 30px;
}

.person .hi {
    font-size: 0.8rem;
    line-height: 0;
}

.person .contact {
    font-size: 1.7rem;
    line-height: 0;
}

.person img[alt=Morgan] {
    width: 70px;
    border-radius: 35px;
}

.button {
    display: flex; /* Using flex for these 4 elements (search, notifications, person, and button) makes them align better */
    align-items: center;
    gap: 30px;
}

button {
    background-color: var(--theme-accent-color);
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}